<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en-us" />
  <title>{% block title %}To-Dlo!{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/static/site.css"/>
  {% block head %} {% endblock %}
</head><body {% block body_tags %} {% endblock %}>

<div id="header">
<table width="930"><tr><td width="1">
{% if user %} <a href="/dashboard"> {% else %} <a href="/"> {% endif %}
<img src="/static/logo-small.png" alt="ToDlo!"/></a>
</td><td width="1">
<h1>{% block header %}{% endblock %}</h1></td><td id="navigation">
<ul>
{% if user %}
  <li><a href="{{ logout_url }}">Logout</a></li>
  <li><a href="/dashboard/settings">Settings</a></li>
  <li><a href="/dashboard">Dashboard</a></li>
{% else %}
  <li><a href="{{ login_url }}">Login</a></li>
{% endif %}
</ul>
{% if user %} {{ user.nickname }} {% endif %}

</td>
</tr></table>
</div>

<div id="body">

{% block body %}

{% endblock %}

</div>

  <div id="bottom_links">
      <a href="/about">About</a>
      <a href="/faq">FAQ</a>
      <a href="/support">Support</a>
      <span style="padding-left: 20px;">
        &copy; Copyright 2008, <a href="http://jtolds.com/">JT Olds</a>
      </span>
  </div>


</body></html>
