<ul>
<li>Select:</li>
<li><a href="#" onclick="check_all(true); return true;">All</a></li>
<li><a href="#" onclick="check_all(false); return true;">None</a></li>
<li>Mark: </li>
{% ifnotequal category "Completed" %}
<li><a href="#" onclick="complete_items(); return true;">Complete</a></li>
{% else %}
<li><a href="#" onclick="incomplete_items(); return true;">Incomplete</a></li>
<li><a href="#" onclick="delete_items(); return true;">Deleted</a></li>
{% endifnotequal %}
<li>Actions:</li>
<li><a href="#" onclick="reload_items(); return true;">Refresh</a></li>
{% ifnotequal category "Completed" %}
<li style="float:right;"><a href="#" onclick="add_item(); return true;">Add a new todo item!</a></li>
{% endifnotequal %}
</ul>
<div class="clearboth"></div>
