{% if have_todo_items %}
<table>
{% for todo_item in todo_items %}
<tr class="{% cycle even,odd %}">
  <td class="checkbox"><input class="item_checkbox" type="checkbox" id="item_{{todo_item.key_id}}" value="{{todo_item.key_id}}"/></td>
  <td class="title"><a href="#" onclick="show_details({{todo_item.key_id}}); return true;">{{ todo_item.title }} </a> <span class="faded">{{ todo_item.body }}</span></td>
  <td class="categories">
  {% ifequal category "Completed" %}
    {% if todo_item.category %} {{ todo_item.category.name }} {% endif %}
  {% else %}{% ifequal category "Incomplete" %}
    {% if todo_item.category %} {{ todo_item.category.name }} {% endif %}
  {% endifequal %}{% endifequal %}
  </td>
  <td class="time">{{todo_item.mtime|timesince|split:" "|join:"&nbsp;"}}&nbsp;ago</td>
</tr>
{% endfor %}
</table>
{% else %}
No items..
{% endif %}
