{% extends "base.html" %}

{% block head %}
<!--<script src="http://www.google.com/jsapi?key=ABQIAAAAhOdVjhpvluR1zGcPwJNUYhQG8ZSbDo55SE4LC0cxHfrjqY1qRxSHXzJMGN6vtmlsBZwaeel4-kpwhg" type="text/javascript"></script>-->
<script src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.2/prototype.js" type="text/javascript"></script>
<script src="/static/js/dashboard.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/static/css/dashboard.css"/>
{% endblock %}

{% block title %} To-Dlo! - Dashboard {% endblock %}
{% block header %} Dashboard {% endblock %}
{% block body_tags %} onload="dashboard_load();" {% endblock %}
{% block body %}

<script><!--
g_currentCategory = "{{category}}";
//-->
</script>

<noscript><h1 style="color:red"> This site requires Javascript! Please enable it!</h1></noscript>
<form method="post" onsubmit="return false;">
<div id="dashboard">


<div id="messagebar"><span style="color:purple;">This is <b>ALPHA</b> quality software! Your data might disappear between upgrades! Look for the beta soon!</span>
<br/>You can also add items to your dashboard by text messaging
<span class="textmessage">TODLO &lt;your item&gt;</span> to 41411.</div>

<div id="tabbar">
{% include "category_list.html" %}
</div><div id="menubar">
{% include "menu_bar.html" %}
</div>

<div id="detailbox">
<div style="float: right">
<a href="#" onclick="remove_details(); return true;">[X]</a></div>
<div id="detailbox_content">
</div></div>

<div id="itembox">

{% include "todo_items.html" %}

</div>

<div id="statusbar">&nbsp;</div>

</div>
</form>

{% endblock %}
