{% extends "static_base.html" %}

{% block title %}To-Dlo! - FAQ{% endblock %}
{% block header %}FAQ{% endblock %}

{% block static_body %}

<h2>Whoa whoa whoa, I have a question.</h2>

<dl>

<dt>What is To-Dlo?</dt>
<dd>To-Dlo is a simple to-do list management application, manageable from your
cellphone via SMS. See <a href="/about">About To-Dlo!</a> for
more info.</dd>

<dt>Why the name?</dt>
<dd>Why not? I actually seriously don't remember my reason. If only I had had
To-Dlo to write it down.</dd>

<dt>So you have a dumb name; how's it pronounced?</dt>
<dd>In my head I imagine it's pronounced like "to do" but with an L.</dd>

<dt>How do I make an account?</dt>
<dd>To-Dlo uses Google Accounts for accounts. If you want to use To-Dlo, go get
<a href="https://mail.google.com/">Gmail</a>, which you should have anyway.</dd>

<dt>Oh noes, so you get my Gmail account info?</dt>
<dd>No, I don't get your account information. All Google tells me is your
preferred nickname, email address, and if you logged in successfully or not.
Perhaps I should have a privacy section.</dd>

<dt>I have a cool feature you should add...</dt>
<dd>Sweet. <a href="/support">Tell me about it.</a> If I also think it's cool,
maybe I'll implement it right away. Though, chances are I won't have time. I
have a day job and grad school in addition to this. I am looking for help,
though. If you're a graphics designer or programmer or anything else and you
have some great ideas and motivation to implement them, I could even add you as
a To-Dlo admin.</dd>

<dt>I have some other question...</dt>
<dd><a href="/support">Ask away.</a></dd>

</dl>

{% endblock %}
